@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
  font-family: 'StratosSkyeng'; 
  src: url('assets/fonts/StratosSkyeng.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal;}

main {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 20px;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.1;
}

h2 {
    font-family: "StratosSkyeng", sans-serif;
    font-size: 32px;
    font-weight: 400;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
}

.content-container {
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main {
    padding: 0 16px;
  }
}
